<div class="container mt-5 pt-3">
    <h2 class="display-5 text-center">Películas</h2>
    
    <div class="row">
        <% @movies.each do |movie| %>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card-custom d-flex flex-column my-4">
                    <p><strong>Nombre: </strong><%= movie.name %></p>
                    <p><strong>Sinopsis:</strong> <%= movie.synopsis %></p>
                    <p><strong>Director:</strong> <%= movie.director %></p>
                </div> 
            </div>
        <% end %>
    </div>
    <div>
        <%= link_to 'Add Documentary', new_movie_path, class: "btn btn-primary" %>
    </div>
</div>